body {
    background-color: #DDDDDD;}

p {
    color: #222831;}

a:link {
    color: #30475E;}

h1 {color: #222831;}

nav {
    background-color: #FFFFFF;
    padding: 10px;
    margin-bottom: 30px;
    }
nav a {color: #DDDDDD}

nav a:hover {background-color: #30475E;}
